.navbar {
  background-color: #3bb19b;
}

.left {
  width: 35%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.dashboard_button, .team_button {
  margin-left: 10px;
  color: white;
}

.center {
  width: 30%;
  text-align: center;
}

.right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notification_button, .login_button, .profile_button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 140%;
  margin-left: 20px;
  text-decoration: none;
}
  