/* .navbar {
  background-color: #3bb19b;
}

.left {
  width: 35%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.dashboard_button, .team_button {
  margin-left: 10px;
  color: white;
}

.center {
  width: 30%;
  text-align: center;
}

.right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notification_button, .login_button, .profile_button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 140%;
  margin-left: 20px;
  text-decoration: none;
}
   */




   .custom-navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #3bb19b;
    padding: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 30px;
  }
  
  .custom-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
  
  .custom-navbar-left {
    width: 40%;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    padding: 30px;
  }
  
  .dashboard-button, .team-button {
    margin: 0 20px;
    color: white;
    text-decoration: none;
  }
  
  .custom-navbar-center {
    flex-grow: 1;
    text-align: center;
  }
  
  .custom-navbar-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .notification-button, .login-button, .profile-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .logo-bus{
    font-size: 50px;
  }
  .notification-button{
    font-size: 30px;
    margin-top: 10px;
  }
  .profile-button{
    font-size: 40px;
    margin-top: 10px;
  }
  .SpaceContainer{
    width: 5%;
  }