.outlet_container {
  margin: 200px 0; /* Adjust according to header's height */
  padding-top: 100px;  
}
  
  .background_image {
    height: 400px; /* Adjust height as needed */
    width: 50%; /* Equal to 4 times width of header */
    background-color: #3bb19b;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    
    border: 10px solid #3bb19b;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px;
  }
  
  .card_container {
    height: 400px; /* Adjust height as needed */
    width: 400px; /* Equal height to the background image */
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    height: fit-content;
    width: fit-content;
    background-color: #3bb19b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card img {
    width: 80%;
    border-radius: 50%;
  }
  
  .reviews_container {
    background-color: #3bb19b;
    padding: 20px;
    color: white;
  }
  