
.bus-details-container {
    border: 1px solid #3bb19b;
    border-radius: 8px;
    margin: 16px 0;
  }
  
  .bus-details-container > div {
    margin-bottom: 8px;
  }

  
  .bus-details-container p {
    margin: 4px 0;
  }
  
  .bus-details-container p b {
    font-weight: bold;
  }
  
  .book-now-button {
    background-color: #3bb19b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-now-button:hover {
    background-color: #0056b3;
  }
  
  .part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Set inner elements of .part to display inline-block */
  .part > * {
    flex: 1;
    align-items: start;
  }