
.bus-details-container {
    border: 2px solid #3bb19b;
    border-radius: 8px;
    margin: 16px 0;
    padding: 0 20px;
    display: flex;
  }
  
  /* .bus-details-container > div {
    margin-bottom: 8px;
  } */

  .left{
    width: 75%;
  }
  .right{
    width: 25%;
    margin: auto 0;
  }

  .bus-details-container p {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .bus-details-container p b {
    font-weight: bold;
  }
  
  .book-now-button {
    background-color: #3bb19b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-now-button:hover {
    background-color: #0056b3;
  }
  
  .part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Set inner elements of .part to display inline-block */
  .part > * {
    flex: 1;
  }

  .fare{
    padding: 0 16px;
  }
  
  /* .bus-details-container .right {
    justify-content: center;
  } */


  
  img {
    height: auto;
    width: 100%;
  }