/* 
.map_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .map_table th,
  .map_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .map_table th {
    background-color: #f2f2f2;
  }
  
  .map_table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .map_table tr:hover {
    background-color: #f2f2f2;
  }
   */

   .login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 100px 0;
    background-color: #f5f5f5;
  }
  
  .login_form_container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    flex: 1;
    padding: 20px;
  }
  
  .right {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form_container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .map_table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .map_table th,
  .map_table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .map_table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .map_table tbody tr:hover {
    background-color: #f9f9f9;
  }
  