/* Additional CSS for table */
.map_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .map_table th,
  .map_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .map_table th {
    background-color: #f2f2f2;
  }
  
  .map_table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .map_table tr:hover {
    background-color: #f2f2f2;
  }
  