.profile-card {
    /* background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 4px 8px #3bb19b;
    padding: 20px;
    width: 300px;
    margin: 0%; */
  }
  
  .profile-content {
    font-family: Arial, sans-serif;
  }
  
  .profile-content p {
    margin: 8px 0;
  }
  
  .profile-link {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
    display: block;
  }
  
  .profile-link:hover {
    text-decoration: underline;
  }
  
  .link {
    background-color: #3bb19b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .link:hover {
    background-color: #357ae8;
  }
  