.confirmation-box {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-box p {
    margin: 5px 0;
  }
  
  .confirmation-box button {
    background-color: #3bb19b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirmation-box button:hover {
    background-color: #2e856e;
  }
  