/* Navbar.css */
.custom-navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #3bb19b; /* Set background color */
  padding: 10px 20px; /* Add padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.custom-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-right: 10px;
}

.logo-bus {
  font-size: 30px;
  margin-bottom: 5px;
  color: #ff9900; /* Set bus icon color */
}

h4 {
  margin: 0 !important;
  font-size: 20px;
}

.dashboard-button,
.team-button,
.login-button,
.logout-button,
.bookings-button {
  text-decoration: none;
  color: #333333; /* Set button text color */
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  transition: background-color 1s ease;
}

.dashboard-button:hover,
.team-button:hover,
.login-button:hover,
.logout-button:hover,
.bookings-button:hover {
  background-color: #f0f0f0; /* Set button background color on hover */
}

.custom-navbar-right {
  display: flex;
  align-items: center;
}

.notification-button,
.profile-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.notification-icon {
  font-size: 24px;
  color: #333333; /* Set icon color */
  transition: background-color 1s ease;
}
.profile-icon {
  font-size: 30px;
  color: #333333; /* Set icon color */
  transition: background-color 1s ease;
}

.notification-button:hover,
.profile-button:hover {
  background-color: #f0f0f0; /* Set icon color on hover */
}

.ProfileCard{
  background-color: transparent;
}
